/*Селекторы по тегу:*/
a{
    color: darkorange;
    font-size: 24px;
}

select{
    color: white;
    background-color: brown;
}

table{
    color: blue;
    background-color: azure;
}

strong{
    color: rgba(255, 10, 10, 0.2);
}

/*Селекторы по идентификатору:*/
#CSS_ссылка{
    color: gold;
}

/*Селекторы по классу:*/
.Selector{
    color: cornflowerblue;
    font-size: 10px;
}

.Properties{
    color: blueviolet;
}

.first{
    font-size: 12px;
}

.second{
    font-size: 14px;
}

.third{
    font-size: 16px;
    /*16px - стандартный размер*/
}

.Message{
    /*Размер шрифта:*/
    font-size: 20px;
    /*Цвет шрифта:*/
    color: darkblue;
    /*Цвет фона:*/
    background-color: aliceblue;
    /*Рамка:*/
    border: 2px dashed midnightblue;
    /*Внешние отступы:*/
    margin: 5px 800px 5px 5px;
    /*Размер шрифта:*/
    padding: 10px;
    /*Округление рамки:*/
    border-radius: 15px;
    /*Прозрачность:*/
    opacity: 0.7;
    /*Тень:*/
    box-shadow: 20px 20px 40px darkred;
    /*Ширина:*/
    width: 50%;
    /*Высота:*/
    height: 50px;
    /*Видимость:*/
    /*display: block; - по умолчанию*/
    /*display: none; - невидимый*/
    /*Выравнивание текста:*/
    text-align: center;
    /*Жирность текста(вес линий):*/
    font-weight: 900;
}

.success{
    background-color: greenyellow;
}

.error{
    color: white;
    background-color: crimson;
}

.info{
    background-color: aliceblue;
    border: 2px solid midnightblue;
}

/*Селекторы событийные:*/
/*Выделение при наведении:*/
.Message:hover{
    border: 6px solid midnightblue;
    /*Трансформация (Поворот_Масштабирование):*/
    transform: rotate(-3deg) scale(1.3);
    /*Время трансформации:*/
    transition: 2s all;
}

body{
    background-image: url("resourses/background.jpg");
}